* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.app-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

select {
  padding: 3px;
}
select option {
  padding: 3px;
}
